@import  '../../assets/utils/variable';
.burger{
  height: 50px;  
  width: 100vw;  
  text-align: center;
  #burger__btn{
    display: none;
    &:checked{
      ~ul , ~.burger__bg{
        left: 0;
      }
    }
  }
  .burger__bg{
    height:50px;
    width: 100vw;
    background-color: $primary-color;
    position: absolute;
    z-index: -1;
    top: 0;
    left: -100%;
    transition: .5s;
    text-align: right;
  }
  #sign-one{
    font-size: 30px;
    color: $primary-color;
    line-height: 50px;
    display: block;
    color: $primary-color;   
    text-align: center; 
  }
  ul{
    list-style: none;
    width: 100vw;
    position: relative;
    height: 100vh;
    background: $primary-color;
    margin: 0;
    left: -100%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    transition: .5s;
    z-index: 10;
    padding: 0;
    .nav-link>li{
      display: block;
      line-height: 10vh;
      a{
        text-decoration: none;
        font-size: 28px;
        color: $secondary-color;
        text-align: center;        
      }
    }
    .social-network{      
      height: 30vh;
      width: 100vw;
      display: flex;
      justify-content: space-around;
      svg{
        width: 20vw;
      }
    }
  }
}
