<nav class="burger">
  <input type="checkbox" id="burger__btn">
  <label for="burger__btn">
    <i class="fa fa-bars" id="sign-one"></i>
  </label>
  <div class="burger__bg">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="2em" height="2em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><g fill="none"><path d="M20 20L4 4m16 0L4 20" stroke="#9A9A9A" stroke-width="2" stroke-linecap="round"/></g></svg>
  </div>
  <ul>
    <li><a href="#">Presentation</a></li>
    <li><a href="#">Langages</a></li>
    <li><a href="#">Frameworks & Tools</a></li>
    <li><a href="#">Projet</a></li>
  </ul>
</nav>