@import  '../../assets/utils/variable';
.burger{
  height: 50px;
  color: $bg-color;
  width: 100vw;  
  text-align: center;
  #burger__btn{
    display: none;
  }
  #sign-one{
    font-size: 30px;
    color: $primary-color;
    line-height: 50px;
    display: block;
    color: $primary-color;   
    text-align: center; 
  }
  ul{
    list-style: none;
    width: 100%;
    position: fixed;
    height: 100vh;
    background: $primary-color;
    margin: 0;
    left: -110%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    transition: .5s;
    z-index: 10;
    padding: 0;
    li{
      display: block;
      line-height: 10vh;
      a{
        text-decoration: none;
        font-size: 28px;
        color: $secondary-color;
        text-align: center;        
      }
    }
  }
}
#burger__btn:checked{
    ~ul{
      left:0;   
    }
    +#sign-one{
      color: black;
    }
    +.burger{
      background-color: $primary-color;
    }
}