<div class="head">
    <div class="head__text">
        <a>XAVIER DEREDEC</a>
        <div class="head__text__underbar"></div>
    </div>
    <a class="head__secondary__text">Développeur Web & Web Mobile</a>
    <div class="head__arrow">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
            focusable="false" width="5em" height="5em"
            style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);"
            preserveAspectRatio="xMidYMid meet" viewBox="0 0 20 20">
            <path d="M5 6l5 5l5-5l2 1l-7 7l-7-7z" fill="white" />
        </svg>
    </div>
</div>
<div class="presentation">
    <div class="presentation__head">
        <a>Présentation</a>
        <div class="head__text__underbar"></div>
    </div>
    <div class="presentation__photo"><img src="../../assets/img/photo.png"/></div>
    <div class="presentation__text">
        <span>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Aenean volutpat ac purus euismod porta. 
            Cras placerat tortor lacus, nec porta nulla blandit a. 
            Aliquam mollis mollis risus, eget convallis quam rhoncus ut. 
            Suspendisse rhoncus risus at dui pellentesque vehicula. 
            Integer ultricies blandit neque sed posuere. 
            Donec eu molestie ligula, ac ullamcorper metus. 
            In semper viverra molestie.
        </span>
    </div>
</div>