@import '../../assets/utils/mixin';
@import '../../assets/utils/variable';
.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    &__text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include Head(45px, $primary-color);
        &__underbar{
            @include Underbar(90vw, .2vh, $secondary-color)
        }
    }
    &__secondary__text{
        margin-top: -10px;
        @include Head(25px, $primary-color);
    }
    &__arrow{
        justify-self: flex-end;
        position: fixed;
        bottom: 0;
        align-self: center;
    }
}
.presentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    &__head{
        @include Head(45px, $primary-color)
    }
    &__photo{
        height: 10vh;
        margin-top: 3vh;
        img{
            border-radius: 200px;
            height: 250px;
            width: 250px;
            box-shadow: 0px 20.3333px 20.3333px rgba(0, 0, 0, 0.25);
        }
    }
    &__text{
        background-color: $primary-color;
        height: 70vh;
        width: 90vw;
        z-index: -1;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        span{
            text-align: center;
            width: 90%;
            font-size: 20px;
            color: $secondary-color;
            font-family: 'Comic Sans MS';
            margin-bottom: 5vh;            
        }        
    }
}
.language, .framework-tool{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    &__head{
        @include Head(45px, $primary-color)
    }
    &__logo{
        display: flex;
        justify-content: space-around;
        align-items: center;
        align-self: center;
        flex-wrap: wrap;
        width: 80vw;
        height: 85vh;
        svg{
            width: 33vw;
            height: 20vh;
        }
    }
}
.projet{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    &__head{
        @include Head(45px, $primary-color)
    }
    &__min{    
        height: 80vh; 
        margin-top: 2vh;
        width: 80vw;  
        display: flex;
        flex-direction: column;
        justify-content: space-around; 
        align-items: center;
        .mini{
            height: 25vh;
            width: 90vw;
            display: flex;
            justify-content: center;
            align-items: center;
            &__img{
                height: 25vh;
                width: 90vw;
                position: absolute;
                z-index: -1;
                filter: blur(1px);
                mix-blend-mode: exclusion;
                img{
                    height: 100%;
                    width: 100%;
                    border-radius: 10px;
                    box-shadow: 0px 20.3333px 20.3333px rgba(0, 0, 0, 0.25);
                }
            }
            &__logo>img{
                width: 100%;
            }
        }
    }
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    &__head{
        @include Head(45px, $primary-color)
    }
    &__form{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
        form{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            background-color: $primary-color;
            width: 80vw;
            height: 50vh;
            .object{
                width: 80%;
                height: 10%;
            }
            .message{
                width: 80%;
                height: 50%;
                resize: unset;
            }
            .btn{
                width: 40%;
                height: 10%;
                border: unset;
                background-color: $secondary-color;
                color: $primary-color;
                font-family: "NATS";
                font-size: 18px;
                text-shadow: 0px 20.3333px 20.3333px rgba(0, 0, 0, 0.25);
                text-align: center;
            }
        }
    }
}
